.bsc-link{
    color: #2a6496;
    cursor: pointer;
}
.bcs-subTitle{
    font-size: 14px;
    text-align: center;
}
.bcs-tip-label{
    color: #959595;
    display: block;
    width: 100%;
}
.bcs-item-label{
    flex: none;
}

.bcs-modal .ant-modal-content, .ant-modal-content.bcs-modal{
}

.ant-form-item-label>label{
    flex-wrap: wrap;
}
.bcs-modal .ant-modal-title{
    text-align: center;
}
