.xzmce-alert-position-wrapper{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.xzmce-alert-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.xzmce-alert-item{
    min-width: 350px;
    overflow: hidden;
    transition: .2s ease-in;
    transform-origin: top;
    transform: scaleY(0);
}
.xzmce-alert-item .ant-alert-message[class][class]{
    font-size: 14px;
    text-align: left;
    margin-bottom: 0px;
}

.xzmce-alert-item .ant-alert-description[class][class]{
    font-size: 14px;
    text-align: left;
}
.xzmce-alert-item .ant-alert[class][class]{
    padding: 12px 16px;
}

.xzmce-alert-item .ant-alert-icon[class][class]{
    font-size: 20px;
}

.xzmce-alert-item.entering,
.xzmce-alert-item.entered {
    transition: .2s ease-out;
    transform: none;
}
