.xzmce-meta-textarea{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
}
.xzmce-meta-textarea.clearable{
    --padding-right: 30px;
}
.xzmce-meta-textarea-clearBtn{
    position: absolute;
    right: 0;
    top: 1px;
    opacity: 0;
    transition: .3s;
    font-size: 14px;
}
.xzmce-meta-textarea.clearable:hover .xzmce-meta-textarea-clearBtn{
    opacity: 1;
}
#xzmce-meta-textarea-entity[id][id].xzmce-meta-textarea-entity:focus-visible{
    outline: none;
}
#xzmce-meta-textarea-entity[id][id].xzmce-meta-textarea-entity[contenteditable]{
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    flex: 1;
    scroll-behavior: smooth;
    min-height: 22px;
    color: #4B4B4B !important;
    position: unset;
}
#xzmce-meta-textarea-entity[id][id].xzmce-meta-textarea-entity{
    font-family: sans-serif;
    color: #4B4B4B !important;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: auto;
    box-shadow: none;

    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    flex: 1;
    scroll-behavior: smooth;
    resize: none;
}
.xzmce-meta-textarea-entity table{
    border-collapse: collapse;
}
.xzmce-meta-textarea-entity td,
.xzmce-meta-textarea-entity th{
    border: 1px solid;
}
.xzmce-meta-textarea.clearable #xzmce-meta-textarea-entity[id][id].xzmce-meta-textarea-entity{
    padding-right: var(--padding-right);
}

.xzmce-meta-textarea-holder{
    visibility: hidden;
    white-space: pre-wrap;
    overflow: hidden;
    flex: 1;
    min-height: 22px;
}

#xzmce-meta-textarea-entity[id][id].xzmce-meta-textarea-entity.disabled{
    color: var(--sub-black-2);
    pointer-events: none;
}

.xzmce-meta-textarea:focus-within .xzmce-meta-textarea-placeholder{
    display: none;
}
.xzmce-meta-textarea-placeholder{
    display: block;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    flex: 1;
    color: var(--sub-black-2);
}


