.meta-image-preview-btn .xzmce_cmd__meta-button-entity{
    height: 60px;
    line-height: 60px;
}

.meta-image-previewer-op-item{
    color: #303437;
    box-shadow: 0px 2px 4px 0px #0000000A, 0px 1px 1px 0px #00000005;
}
.meta-image-previewer-op-item + .meta-image-previewer-op-item{
    margin-left: 30px;
}
.meta-image-previewer-ops{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.meta-image-previewer-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
