
.xzmce-meta-image{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.xzmce-meta-image-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.xzmce-meta-image:hover .xzmce-meta-image-preview-mask{
    opacity: 1;
}
.xzmce-meta-image-preview-mask{
    color: white;
    background-color: rgba(0,0,0, .65);
    position: absolute;

    font-size: 12px;
    opacity: 0;
    transition: .2s opacity;
}

.xzmce-meta-image-preview-mask,
.xzmce-meta-image-loading-suspense{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.xzmce-meta-image-entity{
    width: 100%;
    height: 100%;
    user-select: none;
}

.xzmce-meta-image-size-wrapper.default {
    padding-bottom: 100%;
}
