/*normal spot stub*/
.xzmce-normal-spot-stub{
    position: relative;
}
.xzmce-normal-spot-logo-clip{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 4px 10px 0px #00000014, 0px 1px 4px 0px #0000000A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.xzmce-normal-spot-logo-clip.warning{
    background-color: #FFC62B;
}
.xzmce-normal-spot-logo{
    width: 23px;
    user-select: none;
}
.xzmce-normal-spot-logo.exceed{
}

.xzmce-normal-spot-counter{
    position: absolute;
    font-size: 20px;
    color:white;
    right: 0;
    top: 0;
    transform: translate(50%,-50%) scale(.5);
    min-width: 30px;
    height: 30px;
    line-height: 1.5;

    text-align: center;
    border-radius: 999px;
    background-color: #FF373A;
    border: .5px solid white;
    user-select: none;
    box-sizing: content-box;
    user-select: none;
}
