.xzmce-quest-dialog{
    width: 690px;
    min-height: 370px;
    max-height: 513px;

    --quest-padding-horizontal: 31px;
    --text-color: #1F1F1F;
    --text-color-2: #4B4B4B;
    display: flex;
    flex-flow: column;
}

.xzmce-quest-dialog-userScope{
    padding:24px var(--quest-padding-horizontal) 1em;
}

.xzmce-quest-dialog-prompt-input
{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

#xzmce-quest-dialog-prompt-input .xzmce-meta-textarea-placeholder{
    color: var(--sub-black);
}

.xzmce-quest-dialog-prompt-input .xzmce-meta-textarea-entity,
.xzmce-quest-dialog-prompt-input .xzmce-meta-textarea-holder
{
    min-height: 22px;
    max-height: 54px;
}


.xzmce-quest-dialog-aiScope{
    padding: 0 var(--quest-padding-horizontal);
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    min-height: 190px;
    border-top: 1px solid #F5F5F5;
}
.xzmce-quest-dialog-aiScope-header{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.xzmce-quest-dialog-aiScope-xzmLabel{
    font-size: 16px;
    font-weight: 900;
    color: var(--text-color);
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.xzmce-quest-dialog-aiScope-ops{
    display: flex;
}
.xzmce-quest-dialog-aiScope-ops-btn .xzmce_cmd__meta-button-entity{
    display: flex;
    align-items: center;
    height: auto;
}
.xzmce-quest-dialog-aiScope-content{
    margin-top: 11px;
    flex: 1 1 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--text-color);
    display: flex;
    min-height: 0;
    flex-flow: column;
}
.xzmce-quest-dialog-bottom-tip{
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--sub-black-2);
    margin: 7px 0 27px;
    text-align: center;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xzmce-quest-dialog-helpDoc-btn-wrapper{
    position: absolute;
    right: var(--quest-padding-horizontal);
}
.xzmce-quest-dialog-helpDoc-btn{
    font-size: 17px;
    transition: .2s;
}
.xzmce-quest-dialog-helpDoc-btn .xzmce_cmd__meta-button-entity{
    line-height: 18px;
    height: 18px;
}
.xzmce-quest-dialog-helpDoc-btn:hover{
    color: var(--text-color);
}

.xzmce-quest-dialog-aiScope-content-example{
    all:revert;
}
.xzmce-quest-dialog-aiScope-content-example > li{
    all:revert;
    list-style: disc;
 }

.xzmce-quest-dialog-aiScope-bottom-ops{
    margin: 10px 0;
    text-align: right;
}
.xzmce-quest-dialog-aiScope-bottom-ops.disabled{
    visibility: hidden;
}
.xzmce-quest-dialog-aiScope-op-reply{
    color: var(--primary-blue);
}

.xzmce-quest-dialog-ap-counter{
    user-select: none;
    color:var(--text-color);
}
.xzmce-quest-dialog-ap-counter.disabled{
    color:var(--sub-black-2);
}

.xzmce-quest-dialog-aiScope-pagination{
    display: inline-flex;
    margin-right: 5px;
    align-items: center;
}
.xzmce-quest-dialog-refScope{
    margin-top: 10px;
    padding: 0 var(--quest-padding-horizontal) 12px;
}
.xzmce-quest-dialog-refScope-header{
    display: flex;
    justify-content: space-between;
}
.xzmce-quest-dialog-refScope-header-title{
    font-size: 14px;
    color: var(--text-color-2);
}

.xzmce-quest-dialog-refScope-header-title-ops{
    color: var(--text-color);
}


.xzmce-quest-dialog-refScope-content{
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    color:var(--text-color);
    line-height: 18px;
    letter-spacing: 0px;
    white-space: pre-wrap;
    text-align: left;
}

.xzmce-quest-dialog-refScope-content .xzmce-meta-textarea-entity,
.xzmce-quest-dialog-refScope-content .xzmce-meta-textarea-holder
{
    min-height: 27px;
    max-height: 105px;
}

.xzmce-quest-dialog-try-example-btn {
    margin-left: 10px;
    color: var(--primary-blue);
    opacity: 0;
    transition: .3s;
}

.xzmce-quest-dialog-aiScope-content-example-item{

}
.xzmce-quest-dialog-aiScope-content-example-item:hover .xzmce-quest-dialog-try-example-btn{
    opacity: 1;
}

.xzmce-quest-dialog-answer-content #xzmce-meta-textarea-entity[id][id][id].disabled{
    color: unset;
}
.xzmce-quest-dialog-answer-content-label{
    margin-bottom: 8px;
}
.xzmce-quest-dialog-answer-images-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xzmce-quest-dialog-answer-content-img{
    flex: 0 1 23%;
    min-width: 0;
    object-fit: cover;
}

.ant-notification{

}
