.xzmce-shortcut-setting-drag-area{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 0 16px;
    margin: 9px 0;
    --item-margin-top: 7px;
    --item-height: 30px;
    --bottom-area-height: 34px;
    min-height: 100px;
    scroll-behavior: smooth;
    max-height: calc(calc(calc(5 * var(--item-height)) + calc(4 * var(--item-margin-top)) ) + var(--bottom-area-height)) ;
}
.xzmce-quest-shortcut-drag-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    background-color: white;
}



.xzmce-quest-shortcut-drag-item.dragging{
    transition: .3s background-color;
    background-color: var(--sub-gray);
}
.xzmce-shortcut-setting-drag-area .xzmce-draggable-item:not(:first-child){
    margin-top: var(--item-margin-top);
}
.xzmce-quest-shortcut-drag-handle{
    flex: none;
}
.xzmce-quest-shortcut-drag-handle .xzmce_cmd__meta-button-entity{
    cursor: move;
}
.xzmce-quest-shortcut-setting-input{
    padding: 4px 10px;
    height: var(--item-height);
}
.xzmce-quest-shortcut-setting-input .meta-input-entity{
    color: var(--primary-black);
}
.xzmce-quest-shortcut-setting-abbreviation{
    width:35px;
    box-sizing: border-box;
}
.xzmce-quest-shortcut-setting-abbreviation .meta-input-entity{width: calc(100% + 1px)}
.xzmce-quest-shortcut-setting-description{
    flex: 1;
    min-width: 0;
    margin-left: 9px;
}

.xzmce-shortcut-setting-bottom {
    font-size: 14px;
    position: sticky;
    height: var(--bottom-area-height);
    margin-bottom: -2px;
    bottom: 0;
    background-color: white;
    z-index: 1;
}

.xzmce-quest-shortcut-setting-remove{
    margin:0 3px;
    opacity: 0;
}
.xzmce-quest-shortcut-drag-item:hover .xzmce-quest-shortcut-setting-remove{
    opacity: 1;
}
