.spin-loading-ring{
    animation: loading-rotate 3s linear infinite;
}
.spin-loading-ring circle{
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,35.7;
    stroke-dashoffset: 0;
    stroke-width: 3;
    stroke-linecap: round;
    stroke: currentColor;
}
@keyframes loading-rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes loading-dash {
    0% {
        stroke-dasharray: 0, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 170;
        stroke-dashoffset: -43.7;
    }
    100%{
        stroke-dasharray: 90, 170;
        stroke-dashoffset: -125.7;
    }
}
