.xzmce-spotFlip-loading{
    display: inline-flex;
    justify-content: space-between;

    --dot-size: 8px;
}

.xzmce-spotFlip-loading--dot{
    flex: 1;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius:var(--dot-size);
    animation: spotFlipLoading 2.4s ease-in infinite both;
}
.xzmce-spotFlip-loading--dot:not(:last-child){
    margin-right: calc(var(--dot-size) * .6);
}
.xzmce-spotFlip-loading--dot:nth-child(1){
    animation-delay: -.8s;
}
.xzmce-spotFlip-loading--dot:nth-child(2){
    animation-delay: 0s;
}
.xzmce-spotFlip-loading--dot:nth-child(3){
    animation-delay: -1.6s;
}

@keyframes spotFlipLoading {
    from {
        background-color: #d9d9d9;
    }

    33.33% {
        background-color: #d9d9d9;
    }

    50% {
        background-color: #2d2d2d;
    }

    66.66% {
        background-color: #d9d9d9;
    }

    100% {
        background-color: #d9d9d9;
    }
}
