.xzmce-spotAiModel-wrapper{
    position: fixed;
    pointer-events: none;
    z-index: 2147483646;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.xzmce-spotAiModel-wrapper > * {
    pointer-events: auto;
}
.xzmce-spot-position-wrapper{
    position: absolute;
    bottom: 45px;
    right: 140px;
}
.xzmce-aiModel-animation-wrapper {
    opacity: 0;
    transition: .2s opacity;
    visibility: hidden;
}
.xzmce-aiModel-animation-wrapper.visible{
    opacity: 1;
    visibility: visible;
}

.xzmce_cmd__variables {
    --primary-blue: #3B82F6;
    --sub-blue: #93C8FF;
    --sub-blue-2: #E4F2FF;

    --primary-black: #4B4B4B;
    --sub-black: #8E8E8E;
    --sub-black-2: #CACACA;

    --primary-gray: #EEEEEE;
    --sub-gray: #FAFAFA;

    color:var(--primary-black);
}
